body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;

}

ul a {
  margin:auto;
  flex-grow:1;
  text-decoration: none;  
  color:white;
}

li {
  padding: 10px;
  flex-grow:1;
  background-color:rgb(112, 174, 255);
  text-align: center;
}

ul :hover {
  background-color:rgb(152, 196, 253);
}

ul .active{
  background-color:rgb(33, 129, 255);
}

table {
  border-radius: 15px;

  border-style: none;
  text-align: center;
  width:100%;
}

th {
  font-weight:normal;
  padding:5px;
  border-style: none;

  color:white;
  background-color: rgb(40, 152, 66);  
}

th:first-child{
  border-top-left-radius: 15px;
}

th:last-child{
  border-top-right-radius: 15px;
}



td {
  border-style: none;
  padding:5px;
}

tr:last-of-type > td:first-child{
  border-bottom-left-radius: 15px;
}

tr:last-of-type > td:last-child{
  border-bottom-right-radius: 15px;
}

.active > li {
  background-color:rgb(33, 129, 255);
}

.data-row-1{
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.data-row-2{
  background-color: rgb(240, 240, 240);
  cursor: pointer;
}

tr:hover td {
  background-color: rgb(195, 220, 255);
}

.delete:hover {
  background-color: blueviolet;
}



.delete {
  color:white;
  font-weight: bolder;
  background-color: rgb(203, 0, 0);
  cursor: pointer;
}

.delete :hover {
  background-color: red;
}

.header {
  display: flex;
  padding:10px;
  flex-direction: row;
  color:white;
  background-color: rgb(112, 174, 255);
}

.header .left, .middle, .right {
  margin:auto;
  display: flexbox;
  flex-grow: 1;
}

.header > .left {
  padding-left: 15px;
  margin-bottom: 0;
}

.header > .middle {
  text-align: center;
}

.header > .right {
  text-align: right;
  padding-right: 15px;
  margin-bottom: 0;
}

.nav-bar {
  margin:0;
  padding:0;
  width: 100%;
}

.main-content {
  width:80%;
  margin:auto;
}

.confirmation-overlay {
  background-color: rgba(0,0,0,.7);
  left: 0;
  top: 0;
  position:fixed;
  margin: 0;
  width: 100%;
  height: 100%;
}

.confirmation-dialog {
  text-align: center;
  color:rgb(255, 255, 255);
  background-color: rgb(67, 120, 169);
  position: fixed;
  top: 30%;
  height:auto;
  width:80%;
  border-radius: 20px;
  border-style: groove;
}

.confirmation-dialog > .confirm, .confirmation-dialog > .cancel {
  font-size: larger;
  font-weight: bolder;
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px 10px 10px 10px;
}

.confirmation-dialog > .confirm:hover, .confirmation-dialog > .cancel:hover {
  background-color: rgb(85, 85, 85);
}

.confirmation-dialog .cancel {
  background-color: rgb(255, 0, 0);
}

.confirmation-dialog .confirm {
  background-color: black;
}


.overlay {
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:80%;  
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  border-style: groove;
} 

.window-overlay {
  position: absolute;
  left:0;
  right:0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width:80%;  
  text-align: center;
  background-color: rgb(230, 230, 230);
  border-radius: 20px;
  border-style: groove;
} 

.new-row {
  cursor:pointer;
  background-color: rgb(255, 204, 123);
}

.submit, .cancel {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.save {
  background-color: rgb(86, 162, 224);
  font-weight: bold;
  color:white;
}

.save:hover {
  

  background-color: rgb(2, 145, 17);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


